* {
  margin: 0px;
  box-sizing: border-box;
  transition: all 0.5s;
  overflow: hidden;
  text-align: center;
}

body {
  background: linear-gradient(to right, #f16529, #e44d26);
  font-family: monospace;
  height: 100vh;
  font-size: 20px;
}
.wrapper {
  width: 98vw;
  height: 98vh;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border: 2px solid wheat;
  border-radius: 20px;
}
.question {
  background: #ffffff33;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.question:hover {
  opacity: 0.6;
  border: 2px solid wheat;
}
.questionBox {
  font-size: 30px;
  width: 900px;
  min-height: 85vh;
  flex-direction: column;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e34c26d9;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40.4px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(228, 77, 38, 0.3);
  display: none;
}
#exit {
  margin-left: 96%;
  height: 24px;
  /* position: absolute; */
  /* top: 4%; */
  /* margin-bottom: 40%; */
  cursor: pointer;
  /* margin-bottom: 100%; */
}
.disquestion {
  height: (100%-24px);
  width: 100%;
  flex-grow: 1;
  padding: 0px 0px 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.disquestion > :not(.progress, .Show) {
  padding: 0px 40px 0px 10px;
}

.Show {
  margin-bottom: 30px;
  cursor: pointer;
  padding: 10px;
  background: #24110dd9;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: wheat;
  border: 1px solid rgba(227, 76, 38, 0.3);
}
#A {
  /* margin-bottom: 200px; */
  display: none;
}
.progress {
  margin-top: 20px;
  /* position: relative; */
  height: 30px;
  width: 470px;
  border: 10px solid #f4a261;
  border-radius: 15px;
  /* position: absolute; */
  top: 80%;
}
.progress .color {
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 20s forwards linear;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
#Q {
  text-align: center;
  margin-bottom: 30px;
}
.imgquest{
  border-radius: 12px;
  width: 400px;
}
